

:root {
  color-scheme: dark;
  --clr-font: #fcfcfc;
  --clr-font-accent: #aaaaaa;
  --clr-bg: #181818;
  --clr-accent: #1fdf64;
  --clr-btn: #bababa;
  --clr-border: #282828;
}

$clr-font: #fcfcfc;
$clr-font-accent: #aaaaaa;
$clr-bg: #181818;
$clr-accent: #1fdf64;
$clr-btn: #bababa;
$clr-border: #282828;


$footer-height: 95px;
$border-pad: 1.4em;


