@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

:root {
  color-scheme: dark;
  --clr-font: #fcfcfc;
  --clr-font-accent: #aaaaaa;
  --clr-bg: #181818;
  --clr-accent: #1fdf64;
  --clr-btn: #bababa;
  --clr-border: #282828;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #323232;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: sans-serif;
}

button {
  /* cursor: pointer; */
}

img {
  max-width: 100%;
}

body {
  background-image: linear-gradient(
    0deg,
    rgb(18, 65, 14) 23.8%,
    rgb(7, 7, 7) 92%
  );
  /* background-image: linear-gradient(
    0deg,
    rgb(34, 39, 101) 23.8%,
    rgb(17, 3, 47) 92%
  ); */
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  margin: 0;
  font-size: 16px;
}

.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.hidden {
  opacity: 0;
}
.flex-c {
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress {
  background-color: #8de0fe;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.media-btn {
  background-color: inherit;
  border: 0;
  color: var(--clr-btn);
  /* font-size: 1.6rem; */
  /* cursor: pointer; */
  /* padding: 10px; */
  text-align: center;
  transition: all 100ms;
  font-size: 1.2rem;
}

.media-btn-big {
  /* font-size: 3.8rem; */
  font-size: 2rem;
  color: var(--clr-font);
}
.media-btn-big:hover {
  transform: scale(1.1);
}
.media-btn:focus {
  outline: 0;
}
.media-btn:hover {
  color: var(--clr-font);
}

.heart-btn {
  background-color: inherit;
  border: none;
  color: var(--clr-btn);
  font-size: 1.1rem;
  transition: all 100ms;
}

.heart-btn:hover {
  color: var(--clr-font);
}
.heart:focus {
  outline: none;
}

/* WEB PLAYER */

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap'); */

.WebPlayer {
  width: 100vw;
  height: 100vh;
  /* overflow-x: hidden; */

  /* width: 600px; */
  background-color: var(--clr-bg);
  border-radius: 10px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.479);
  user-select: none;
  /* height: 620px; */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  --footer-height: 95px;
}

.wp-main {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  height: calc(100vh - var(--footer-height));
}

/* SIDEBAR */
.wp-main-sidebar {
  background-color: #000000;
  min-width: 100px;
  width: 300px;
  /* max-width: 400px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;
}

.wp-sidebar-dir {
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1.4em;
  color: var(--clr-font-accent);
  font-size: 0.85rem;
  font-weight: 600;
  /* overflow-y: scroll; */
}

.wp-sidebar-playlists {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  overflow-y: hidden;
  height: 100%;
}

.wp-sidebar-tab {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.2em;
  cursor: pointer;
  /* padding: 1em 2em; */
  transition: color 200ms;
  padding: 0em 0.4em;
  color: inherit;
  background-color: inherit;
  font-weight: inherit;
  border: none;
  padding: 0;
}
.wp-sidebar-tab:hover {
  color: var(--clr-font);
}
.wp-sidebar-tab i {
  font-size: 1.2rem;
  width: 20px;
  text-align: center;
}
.hr-border {
  border: 0.1em solid var(--clr-border);
}

.wp-playlist {
  color: var(--clr-font-accent);
}
.wp-playlist:hover {
  color: var(--clr-font);
}

#more-icon {
  font-size: 1.8rem;
}

.wp-sidebar-img-block {
  /* position: absolute; */
  bottom: 0;
}
.wp-sidebar-img {
  width: 100%;
  aspect-ratio: 1;
}

/* MAIN CONTENT */

.wp-main-content {
  width: 100%;
  background-color: #121212;
}
.wp-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  max-width: 1900px;
}

.wp-header-play-btn {
  width: 56px;
  aspect-ratio: 1;
  font-size: 3rem;
  text-align: center;
  border-radius: 50%;
  color: var(--clr-accent);
  background-color: inherit;
  border: 0;
  padding: 10px;
  text-align: center;
  transition: all 100ms;
}
.wp-header-play-btn:hover {
  transform: scale(1.05);
}

.wp-header-search-btn {
  color: var(--clr-font-accent);
  background: none;
  border: none;
  font-size: 1.2rem;
  width: 35px;
  aspect-ratio: 1;
}
.wp-header-search-btn:hover {
  color: var(--clr-font);
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 50%;
}

table {
  overflow: scroll;
  border-spacing: 0 50px;
  padding: 50px;
}

/* TABLE */
.wp-table-wrapper {
  padding: 0em 3.4em;
  /* height: 100%; */
  --border-pad: 1.4em;
}

.wp-table {
  width: 100%;
  min-width: 500px;
  max-width: 1900px;
  /* padding: 1em 2.4em; */
  font-size: 0.9rem;
  color: var(--clr-font-accent);
  border-collapse: collapse;
  /* height: 100%; */
  /* border-collapse: separate; */
}
.wp-table-head {
  text-transform: uppercase;
  border-bottom: 1px solid var(--clr-border);
  font-size: 0.8rem;
  letter-spacing: 0.05em;
}
.wp-table-head p {
  width: min-content;
}

.wp-table-dur {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 2em;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  /* background-color: #13341f; */
  /* height: 100%; */
}

.wp-table-dur p {
  /* width: 100%; */
}
.wp-table-head > tr > td > p:hover {
  color: var(--clr-font);
}

.wp-table-row {
  padding: 1em;
  /* line-height: 4em; */
  position: relative;
  /* margin: 0.1em; */
}
.wp-table-row:hover {
  background-color: #292929;
}
td {
  margin: 0.5rem 0;
}

.wp-table-head > tr > td:first-child {
  padding-left: var(--border-pad);
}
.wp-table-head > tr > td:last-child {
  padding-right: var(--border-pad);
}

.wp-table-row > td:first-child {
  padding-left: var(--border-pad);
}
.wp-table-row > td:last-child {
  padding-right: var(--border-pad);
}

.thead-spacer {
  margin: 0.8em 0;
}
.tbody-spacer {
  margin: 1em 0;
}
.song-hover {
  width: fit-content;
}
.wp-table-row:hover > td .song-hover {
  color: var(--clr-font);
}
.wp-table-row:hover > td .hidden {
  opacity: 1;
}
.wp-table-img {
  width: 40px;
}
.wp-table-song {
  display: flex;
  gap: 1em;
  justify-content: flex-start;
  align-items: center;

  /* line-height: 1.4; */
  /* background-color: #0a5224; */
}
.wp-table-song-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  gap: 0.2em;
}

.wp-table-num {
  font-size: 1rem;
}

.wp-table-song-name {
  color: var(--clr-font);
  font-size: 1rem;
}

.highlighted {
  color: var(--clr-accent);
}

.highlighted + .highlight {
  color: var(--clr-accent);
}

/* CONTROLS */

.wp-song-name {
  color: var(--clr-font);
  font-size: 1rem;
}
.wp-song-artist {
  color: var(--clr-font-accent);
  font-size: 0.7rem;
  margin-top: 0.4em;
  width: fit-content;
}

.wp-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #181818;
  border-top: 1px solid var(--clr-border);
  bottom: 0;
  padding: 0.6em 1.6em;
  height: var(--footer-height);
  z-index: 10;

  /* height: 200px; */
}
.wp-footer-song {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.4em;
  width: 25%;
}
.wp-footer-main {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wp-song-time {
  width: 100%;
}
.wp-times {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
}
.wp-time {
  font-size: 0.7rem;
  color: var(--clr-font-accent);
}

.wp-footer-sub {
  width: 25%;
}

.media-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.song-more-btn {
  font-size: 1.2rem;
}

.song-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1em;
}

.wp-control-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.4em;
  margin-bottom: 0.2em;
}

.mute-btn {
  background-color: inherit;
  border: none;
  color: var(--clr-font-accent);
  font-size: 1rem;
  text-align: left;
  width: 28px;
  transform: translateY();
}
.mute-btn:hover {
  color: var(--clr-font);
}

.mute-btn:focus {
  outline: none;
}

.volume-control {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  gap: 0.1em;
}
.wp-volume-bar {
  max-width: 90px;
}

.wp-time-bar {
  min-width: 210px;
  max-width: 620px;
  width: 100%;
}






@media only screen and (max-width: 400px) {
  
}


