@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --clr-accent: #1ecd5b;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #323232;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: sans-serif;
}


button {
  cursor: pointer;
}

img {
  max-width: 100%;
}


body {
  background-image: linear-gradient(
    0deg,
    rgb(18, 65, 14) 23.8%,
    rgb(7, 7, 7) 92%
  );
    /* background-image: linear-gradient(
    0deg,
    rgb(34, 39, 101) 23.8%,
    rgb(17, 3, 47) 92%
  ); */
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  margin: 0;
  font-size: 16px;
}

.App {
  /* width: 600px; */
  padding: 0 10px;
  background-color: #272727;
  padding: 2em 1.5em;
  border-radius: 10px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.479);
  user-select: none;
  width: 400px;
}








.progress {
  background-color: #8de0fe;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}







.song-img-block {
  display: flex;
}

.song-img {
  display: flex;
  justify-content: space-between;
  width: 100%;
  aspect-ratio: 1;
}


.song-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
}

.song-main {

}
.song-name {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: .1em;
}
.song-artist {
  font-size: .9rem;
  font-weight: 400;
}

.song-time {
  margin-top: 1.6em;

}

.times {
  display: flex;
  justify-content: space-between;
}

.timer {
  font-size: 10px;
  font-weight: 200;
  color: rgb(196, 196, 196);
}




.song-controls {

}

.control-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}


.media-btn {
  background-color: inherit;
  border: 0;
  color: #ddd1e0;
  font-size: 1.6rem;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  transition: all 100ms;
}

.media-btn-big {
  font-size: 3.8rem;
}

.media-btn:focus {
  outline: 0;
}
.media-btn:hover {
  color: var(--clr-accent);
}


.heart-btn {
  background-color: inherit;
  border: none;
  color: inherit;
  font-size: 1.4rem;
  transition: all 100ms;

}

.heart-btn:hover {
  color: var(--clr-accent);
}
.heart:focus {
  outline: none;
}


@media(min-width:700px) {
  .App {
    width: 550px;
  }
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  flex-grow: 1;
}

.btn-play {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 0 20px 30px;
  border-color: transparent transparent transparent #ffffff;
  cursor: pointer;
}

.btn-stop {
  height: 40px;
  width: 30px;
  border-left: 10px solid rgb(255, 255, 255);
  border-right: 10px solid rgb(255, 255, 255);
  cursor: pointer;
}